div img {
  width: 40%;
  display: block;
  margin: auto;
  border-radius: 100%;
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-family: font-family: 'Aldrich';
}

a:hover {
  text-shadow: 2px 2px 5px black;
  font-weight: bold;
}

p span {
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-family: font-family: 'Aldrich';
  padding-left: 10px;
}

div h3 {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

div.sec_title {
  color: white;
  background-color: black;
}

li {
  list-style: none;
}

section.social li {
  list-style: none;
  display: inline-block;
  clear: both;
  margin: 10px;
}

div.social_links {
  text-align: center;
  margin: 0 10px;
}

section div p #about_me {
  background-color: light black;
}

@media only screen and (min-width: 768px) {
  div img {
    max-width: 200px;
    max-height: 300px;
    margin: auto;
  }

  h1 {
    text-align: center;
  }

  h3, p, li {
    text-align: center;
  }

  div.about_me p {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
  }


  /*section {
    display: inline-block;
    width: 500px;
    border: 1px solid black;
    box-sizing: border-box;
  }*/
}
